################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CorePlatformServices/.vs
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

*.vsidx
*.lock
*.v2
/CorePlatformServices/.vs/CorePlatformServices
/BLL/obj/Debug/net6.0/BLL.assets.cache
/BLL/obj/Debug/net6.0/BLL.GeneratedMSBuildEditorConfig.editorconfig
/DAL/obj/Debug/net6.0/DAL.assets.cache
/DAL/obj/Debug/net6.0/DAL.csproj.AssemblyReference.cache
/KnowYourSalesBackend/obj/Debug/net6.0/API.csproj.AssemblyReference.cache
/KnowYourSalesBackend/obj/Debug/net6.0/API.GeneratedMSBuildEditorConfig.editorconfig
/KnowYourSalesBackend/obj/Debug/net6.0/API.assets.cache
/BLL/obj/Debug/net6.0/BLL.csproj.AssemblyReference.cache
/MODEL/obj/Debug/net6.0/MODEL.assets.cache
/MODEL/obj/Debug/net6.0/MODEL.GeneratedMSBuildEditorConfig.editorconfig
/DAL/obj/Debug/net6.0/DAL.GeneratedMSBuildEditorConfig.editorconfig
