################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CorePlatformServices/.vs
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
bin
obj
packages

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

*.vsidx
*.lock
*.v2
*.cache
*.TMP
*.dll
*.pdb
*.editorconfig
/MODEL/obj/
/KnowYourSalesBackend/obj/API.csproj.nuget.dgspec.json
/MODEL/obj/project.nuget.cache
/MODEL/obj/Debug/net6.0/MODEL.csproj.AssemblyReference.cache
/MODEL/obj/MODEL.csproj.nuget.g.props
/MODEL/obj/Debug/net6.0/refint/MODEL.dll
/MODEL/obj/Debug/net6.0/MODEL.genruntimeconfig.cache
/MODEL/obj/Debug/net6.0/MODEL.assets.cache
/MODEL/obj/Debug/net6.0/MODEL.dll
/MODEL/obj/MODEL.csproj.nuget.dgspec.json
/MODEL/obj/Debug/net6.0/MODEL.csproj.CoreCompileInputs.cache
/MODEL/obj/Debug/net6.0/MODEL.pdb
/KnowYourSalesBackend/obj/API.csproj.nuget.g.props
/KnowYourSalesBackend/obj/project.assets.json
/KnowYourSalesBackend/obj/project.nuget.cache
/.vs/KnowYourSalesBackend/v17/.suo
/.vs/KnowYourSalesBackend/DesignTimeBuild/.dtbcache.v2
/BLL/bin/Debug/net6.0/BLL.deps.json
/BLL/bin/Debug/net6.0/BLL.dll
/BLL/bin/Debug/net6.0/BLL.pdb
/BLL/bin/Debug/net6.0/DAL.pdb
/BLL/bin/Debug/net6.0/MODEL.dll
/BLL/bin/Debug/net6.0/DAL.dll
/BLL/bin/Debug/net6.0/MODEL.pdb
/BLL/obj/Debug/net6.0/ref/BLL.dll
/BLL/obj/Debug/net6.0/refint/BLL.dll
/BLL/obj/Debug/net6.0/BLL.assets.cache
/BLL/obj/Debug/net6.0/BLL.csproj.AssemblyReference.cache
/BLL/obj/Debug/net6.0/BLL.csproj.CoreCompileInputs.cache
/BLL/obj/Debug/net6.0/BLL.csproj.FileListAbsolute.txt
/BLL/obj/BLL.csproj.nuget.dgspec.json
/BLL/obj/BLL.csproj.nuget.g.props
/BLL/obj/project.assets.json
/BLL/obj/Debug/net6.0/BLL.pdb
/BLL/obj/Debug/net6.0/BLL.dll
/BLL/obj/project.nuget.cache
/DAL/bin/Debug/net6.0/DAL.deps.json
/DAL/bin/Debug/net6.0/DAL.pdb
/DAL/bin/Debug/net6.0/MODEL.pdb
/DAL/bin/Debug/net6.0/MODEL.dll
/DAL/bin/Debug/net6.0/DAL.dll
/MODEL/bin/Debug/net6.0/MODEL.pdb
/MODEL/bin/Debug/net6.0/MODEL.dll
/MODEL/bin/Debug/net6.0/MODEL.deps.json
/DAL/obj/Debug/net6.0/ref/DAL.dll
/DAL/obj/Debug/net6.0/refint/DAL.dll
/DAL/obj/Debug/net6.0/DAL.assets.cache
/DAL/obj/Debug/net6.0/DAL.csproj.AssemblyReference.cache
/DAL/obj/Debug/net6.0/DAL.csproj.CoreCompileInputs.cache
/DAL/obj/Debug/net6.0/DAL.csproj.FileListAbsolute.txt
/DAL/obj/Debug/net6.0/DAL.dll
/DAL/obj/Debug/net6.0/DAL.pdb
/DAL/obj/Debug/net6.0/
/DAL/obj/DAL.csproj.nuget.dgspec.json
/DAL/obj/DAL.csproj.nuget.g.props
/DAL/obj/project.assets.json
/DAL/obj/project.nuget.cache
/KnowYourSalesBackend/bin/Debug/net6.0/API.deps.json
/KnowYourSalesBackend/bin/Debug/net6.0/API.dll
/KnowYourSalesBackend/bin/Debug/net6.0/API.pdb
/KnowYourSalesBackend/bin/Debug/net6.0/appsettings.json
/KnowYourSalesBackend/bin/Debug/net6.0/BLL.dll
/KnowYourSalesBackend/bin/Debug/net6.0/BLL.pdb
/KnowYourSalesBackend/bin/Debug/net6.0/DAL.dll
/KnowYourSalesBackend/bin/Debug/net6.0/DAL.pdb
/KnowYourSalesBackend/bin/Debug/net6.0/MODEL.dll
/KnowYourSalesBackend/bin/Debug/net6.0/MODEL.pdb
/KnowYourSalesBackend/bin/Debug/net6.0/
/.vs/KnowYourSalesBackend/FileContentIndex/1407184c-348b-4eb6-800f-421ac683f1e1.vsidx
/.vs/KnowYourSalesBackend/v17/.futdcache.v2
/.vs/ProjectEvaluation/knowyoursalesbackend.projects.v6.1
/.vs/ProjectEvaluation/knowyoursalesbackend.metadata.v6.1
